.open-button,
.calculate,
.schedule {
    --offset: 1px;
    position: relative;
    background: rgb(55, 21, 90);
    border-radius: 50px;
    height: 40px;
    width: 150px;
    max-width: 100%;
    overflow: hidden;
}

/* .input-field {
    --offset: 1px;
    position: relative;
    background: rgb(55, 21, 90);
    margin: 5px;
    border-radius: 5px;
    max-width: 100%;
    overflow: hidden;
} */

.open-button::before,
.calculate::before,
.schedule::before {
    content: "";
    background: conic-gradient(transparent 270deg, white, transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}

/* 
.input-field::before {
    content: "";
    background: conic-gradient(transparent 270deg, white, transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
} */

.open-button::after,
.calculate::after,
.schedule::after {
    content: "";
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% -2* var(--offset));
    width: calc(100% -2* var(--offset));
}

/* 
.input-field::after {
    content: "";
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
} */

.open-button button,
.calculate button,
.schedule button {
    background: transparent;
    color: white;
    font-size: 1rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    /* padding: 18px; */
    border: none;
    font-weight: 600;
}

.open-button button:hover,
.calculate button:hover {
    color: rgb(179, 179, 179);
}

.gamemodalheader {
    background-image: linear-gradient(to right, rgb(55, 21, 90), white);
    color: white;
    margin-bottom: -5px;
    margin-top: -5px;
}

.gamemodalheader h1 {
    font-size: 20px;
    font-weight: 600;
}

.gamemodalbody {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle,
            rgba(2, 0, 36, 1) 0%,
            rgba(30, 54, 59, 1) 0%,
            rgba(93, 93, 116, 1) 100%);
}

.Row {
    width: 100%;
    display: flex;
    align-items: center;
}

.Row label {
    /* width: 35%; */
    color: white;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
}

.Row input[type='number'],
.result input[type='number'] {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    -moz-appearance: textfield;
}

.Row input[type='number']::-webkit-inner-spin-button,
.Row input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.calculate {
    margin: 5px;
}

.result {
    align-items: center;
    width: 80%;
}

.schedule {
    width: 30%;
}

.result label {
    color: white;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
    width: 210px;
}

.result input[type='number'] {
    margin-left: -30px;
    padding-left: 30px;
    width: 180px;
    opacity: 1;
}

.result span {
    color: white;
}

.error-message {
    color: red;
    margin: 5px;
}

.detail {
    display: flex;
    margin: 5px;
    padding: 5px;
}

.detail .detail-label {
    width: 60%;
}

.detail .detail-label label {
    margin: 0 5px;
    padding: 0 5px;
    font-weight: 600;
    color: white;
}

.schedule-tbl {
    margin: 5px;
    padding: 5px;
    /* background-color: red; */
}

.schedule-tbl .schedule-tbl-main .tbl-head,
.schedule-tbl .schedule-tbl-main .tbl-body {
    background: transparent;
    color: white;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}

@media(max-width:768px) {
    .Row label {
        width: 40%;
        color: white;
        /* font-size: 12px; */
    }

    .Rowbody {
        display: flex;
        flex-direction: column;
    }

    .Rowbody .result {
        display: flex;
        width: 100%;
    }

    .Rowbody .result label {
        width: 50%;
    }

    .result input[type='number'] {
        margin-left: -35px;
        padding-left: 35px;
    }
}